body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@tailwind base;

@tailwind components;

@tailwind utilities;

@layer base {
  /* h1 {
    @apply drop-shadow-[1px_1px_1px_currentColor];
  } */
}

@layer components {
  .mainheader {
    @apply text-2xl md:text-5xl font-bold text-center mb-2 md:m-4 mb-2 md:mb-8 text-acm-light-blue bg-gray-800 py-2 xl:py-3;
  }
  /* .hackheader {
    @apply text-2xl md:text-5xl font-bold text-center mb-2 md:m-4 mb-2 md:mb-8 text-acm-light-blue bg-gray-800 py-2 xl:py-3;
  } */
  .hackheader {
    @apply text-2xl md:text-5xl font-bold text-center mb-2 md:m-4 mb-2 md:mb-8 text-acm-blue bg-black/50 py-2 xl:py-3;
  }
  section {
    @apply px-0;
  }
  .hide {
    @apply hidden md:block;
  }
}

ul li {
  line-height: 1.25; /* similar to Tailwind's leading-tight */
}
